<!doctype html>

<html lang="en">

<head>

	<meta property="og:image" content="img/logo.svg" />

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Laporan</title>

	<link rel="icon" sizes="16x16" href="img/favicon.png" />

	<!-- Library js -->
	<script src="js/jquery-2.0.3.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<link rel="stylesheet" href="css/jquery-ui.css">

	<!-- Font Icon -->
	<link rel="stylesheet" href="assets/libs/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="assets/libs/font-icons/font-awesome/css/font-awesome.min.css">

	<!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

	<!-- Bootstrap css -->
	<link href="assets/libs/bootstrap-3.3.1/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom css -->
	<link href="css/style.css" rel="stylesheet">

	<style>
		table * {
			font-size: 12px;
		}

		p {
			font-size: 12px;
		}
	</style>

</head>


<body>





<section class="default-section" style="margin: 10px">

	<h3>Arsip Dokumen</h3>
	<p><br>Tanggal 1 Desember 2014 - 30 Desember 2014</p>


	<br>

	<div class="table-responsive">

		<table class="table table-bordered">

			<thead>
				<tr>
					<th>#ID</th>
					<th>Tanggal Masuk</th>
					<th>Nomor Surat</th>
					<th>Asal Surat</th>
					<th>Lemari Penyimpanan</th>
					<th>Rak Lemari</th>
					<th>Disposisi</th>
				</tr>
			</thead>

			<tbody>

				<tr style="cursor: pointer" data-toggle="modal" data-target="#detail-sm" data-id="#23412" data-title="CV. Media SAKTI" data-lemari="Lemari 1" data-rak="Rak 1" data-img="assets/img/arsip/dok-1.png">
					<td>#23412</td>
					<td>18-3-2016</td>
					<td>A01/M/12/5</td>
					<td>CV. Media SAKTI</td>
					<td>Lemari 1</td>
					<td>Rak 1</td>
					<td>Direktur, Sekretaris</td>
				</tr>

				<tr style="cursor: pointer" data-toggle="modal" data-target="#detail-sm" data-id="#23412" data-title="CV. Media SAKTI" data-lemari="Lemari 1" data-rak="Rak 1" data-img="assets/img/arsip/dok-1.png">
					<td>#23412</td>
					<td>18-3-2016</td>
					<td>A01/M/12/5</td>
					<td>CV. Media SAKTI</td>
					<td>Lemari 1</td>
					<td>Rak 1</td>
					<td>Direktur, Sekretaris</td>
				</tr>

				<tr style="cursor: pointer" data-toggle="modal" data-target="#detail-sm" data-id="#23412" data-title="CV. Media SAKTI" data-lemari="Lemari 1" data-rak="Rak 1" data-img="assets/img/arsip/dok-1.png">
					<td>#23412</td>
					<td>18-3-2016</td>
					<td>A01/M/12/5</td>
					<td>CV. Media SAKTI</td>
					<td>Lemari 1</td>
					<td>Rak 1</td>
					<td>Direktur, Sekretaris</td>
				</tr>

				<tr style="cursor: pointer" data-toggle="modal" data-target="#detail-sm" data-id="#23412" data-title="CV. Media SAKTI" data-lemari="Lemari 1" data-rak="Rak 1" data-img="assets/img/arsip/dok-1.png">
					<td>#23412</td>
					<td>18-3-2016</td>
					<td>A01/M/12/5</td>
					<td>CV. Media SAKTI</td>
					<td>Lemari 1</td>
					<td>Rak 1</td>
					<td>Direktur, Sekretaris</td>
				</tr>

			</tbody>

		</table>

	</div>

</section>


	<script src="assets/js/kotakarsip.js"></script>

</body>

</html>